@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    font-family: 'Poppins';
}
html {
    scroll-behavior: smooth;
}
::selection {
    background-color: #ccc;
}
body {
    background: url(https://cdnv2.tgdd.vn/webmwg/2024/ContentMwg/images/noel/2024/tgdd/bg-dt.png)
        no-repeat;
}
/* body::-webkit-scrollbar {
  display: none;
} */
input:focus-visible {
    outline: none;
}
.button--hover {
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    z-index: 1;
    border-radius: 4px;
    padding: 16px 48px;
    border: 2px solid rgb(219, 68, 68);
    color: rgb(219, 68, 68);
    font-weight: 700;
}

.button--hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    background-color: rgb(219, 68, 68);
    z-index: -1;
    transition: all 0.5s ease;
}
.button--hover:hover,
.button--hover:focus {
    color: #fff;
}
.button--hover:hover::before {
    transition: all 0.5s ease;
    left: 0;
    right: 0;
    opacity: 1;
}
.button--hover:active {
    transform: scale(0.9);
}
.skeleton--loading {
    animation: shimmer 1s infinite linear;
    background: linear-gradient(to right, #f0f0f0 4%, #e0e0e0 25%, #f0f0f0 36%);
    background-size: 1000px 100%;
}
.item {
    background-color: white;
}
.items-product {
    max-height: 200px;
}

.add-to-cart {
    display: none;
    animation: showAddToCart 0.3s ease-in;
}
.item:hover .add-to-cart {
display: flex;
}
@keyframes shimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@keyframes showAddToCart {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
    }
  }
